################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Release
*.opensdf
/src/KnightZbuffer.ncb
/src/KnightZbuffer.sdf
/src/KnightZbuffer.suo
/src/KnightZbuffer.v11.suo
/bin